body {
    background-color: antiquewhite;
}

p {
    color: #444343;
    font-weight: bold;
}

img {
    width: 150px;
    height: 150px;
}

.imagem {
    border-radius: 10px;
    border: solid 1px #444343;
}

#redbull-label {
    font-size: 25px;
}