body {
    background-color: rgb(247, 247, 247);
}

.quadro {
    width: 200px;
    margin: auto;
    border: solid 1px #9e9e9e;
    padding: 15px;
    word-wrap: break-word;
    border-radius: 10px;
}

.quadro-dois {
    width: 200px;
    margin: auto;
    border: solid 1px #9e9e9e;
    padding: 15px;
    border-radius: 10px;
}