table {
    border: 1px solid #000000;
}

th, td {
    padding: 7px 10px 10px 10px;
}

th {
    font-size: 20px;
    border: 1px solid #000000;
}

td {
    border: 1px solid #cccccc;
    cursor: default;
}

.green-hour{
    background-color: #b5ffca;
}

.purple-hour{
    background-color: #cbb9ff;
}

.yellow-hour{
    background-color: #fcffc6;
}