.botao {
  border: 1px solid #cccccc;
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
}

.botao--verde {
  background-color: rgb(11, 165, 11);
}

.botao--vermelho {
  background-color: rgb(165, 11, 11);
}

.botao--grande {
  padding: 15px;
}

.formulario {
  background-color: #eeeeee;
  padding: 15px;
  border: 1px solid #cccccc;
  width: 300px;
}

.formulario--small {
  padding: 5px;
}


.formulario__input {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 10px;
  font-size: 15px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.formulario--small .formulario__input {
  padding: 5px;
  font-size: 13px;
  margin-bottom: 5px;
}

.formulario__submit {
  border: 1px solid #cccccc;
  background-color: #999999;
  padding: 10px;
  font-size: 15px;
  display: block;
  width: 100%;
}

.formulario--small .formulario__submit {
  padding: 5px;
  font-size: 13px;
}

.formulario__submit--verde{
  background-color: #035803;
  color: #ffffff;
}
