body {
    background-color: antiquewhite;
    margin: 0;
}

.div {
    height: 300px;
    width: 700px;
    background-color: brown;
}

@media only screen and (min-width:200px) and (max-width:500px) {
    .div {
        background-color: blueviolet;
        width: 480px;
        height: 500px;
    }
}