body {
  padding: 0;
  margin: 0;
  background-color: #cf4647;

  h1,
  h2 {
    color: #ecf1f5;
    text-align: center;
  }

  p {
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .paragrafo{
      width: 50vw;
      margin: 0 auto;
  }

  .container {
    position: relative;
    margin: 0 auto;
    width: 50vw;
    height: 40vh;
    background-color: #dfe4ea;
    border-radius: 15px;
    box-shadow: 0 0 50px #2c2c2c;

    .tela {
      position: relative;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      background-color: #002b36;
      border-radius: 15px;

      .texto {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #85ff00;
        position: absolute;
        left: 15px;
        top: 20px;
        font-weight: bold;
        line-height: 20px;
      }
    }
  }

  .teclado-top {
    position: relative;
    background-color: #ecf1f5;
    height: 10px;
    width: 75vw;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .mid {
      background-color: #d2d2d3;
      width: 20%;
      height: 100%;
      margin: 0 auto;
    }
  }

  .teclado-bot {
    position: relative;
    background-color: #878a8f;
    height: 10px;
    width: 75vw;
    margin: 0 auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
