* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    transition: all 0.3s linear;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #ffffff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner-headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 450px;
    cursor: default;
}

.banner-headline h2 {
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 300px;
    margin-top: 30px;
    cursor: default;
}

.banner-options {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner-titulo {
    font-size: 23px;
}

.banner-descricao {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 6px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.3s linear;
}

.banner-options a:hover {
    background-color: #ffffff;
    color: #39aae1;
}

.container-agenda {
    margin-top: 12px;
}

.container-agenda-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #485cb4;
    font-size: 15px;
    padding: 14px 12px 14px 12px;
}

.dia-semana {
    display: flex;
    align-items: center;
}

.hora {
    display: flex;
    align-items: center;
}

#main {
    display: flex;
    justify-content: center;
}

#main section {
    flex: 2;
}

#main aside {
    flex: 1;
}

.widget-titulo {
    margin: 30px 0px 20px 0px;
    cursor: default;
}

.widget-titulo-texto {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget-titulo-barra {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
    transition: all 0.5s linear;
}

.widget-titulo:hover .widget-titulo-barra {
    width: 50%;
}